<div class="content">
    <div class="row title">
        <span>Select a Merchant</span>
    </div>
    <div class="row">
        <select class="filter-input" id="type-filter" [(ngModel)]="typeFilter">
            <option [ngValue]="null" disabled hidden>Filter by Category</option>
            <option *ngFor="let type of lookupLists.merchantTypes" [value]="type">{{ type }}</option>
        </select>
    </div>
    <div class="row">
        <input type="search" class="filter-input" id="merchant-search-text"
          [(ngModel)]="searchText" placeholder="Search">
    </div>

    <merchant-item
        *ngFor="let merchant of merchants | merchantTypeFilter: typeFilter:'type' | merchantNameFilter: searchText"
        [merchant]="merchant">
    </merchant-item>
</div>
