
<div class="row merchant-container">
    <div class="col-3">
        <img class="image" [src]="merchant.image"/>
    </div>
    <div class="col-9 merchant-details">
        <div>
            {{ merchant.name }}
        </div>
        <div>
            {{ merchant.minAmount | currency :'CAD':'symbol-narrow': '1.0-0' }} - {{ merchant.maxAmount | currency :'CAD':'symbol-narrow': '1.0-0' }}
        </div>
        <a class="website" [href]="merchant.website">
            visit website
        </a>
    </div>
</div>