:host 
  display: flex
  flex-direction: row
  background-color: #ecf3fc
  padding: 10px

.image
    width: 100%

.merchant-details
    padding-left: 10px

.merchant-container
    border-bottom: 2px
    border-bottom-color: black 

